
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>


<table>
  <tr>
    <th>Charts...</th>
  </tr>
  <tr>
    <td class="navbar navbar-dark bg-dark"> 
        <div class="col-mg-2">  <a class="navbar-brand" routerLink="line-chart">Line chart</a></div>
    </td>
  </tr>
  <tr>
    <td class="navbar navbar-dark bg-dark"> 
        <div class="col-mg-2">  <a class="navbar-brand" routerLink="bar-chart">Bar chart</a></div>
    </td>
  </tr>
  <tr>
    <td class="navbar navbar-dark bg-dark"> 
        <div class="col-mg-2">  <a class="navbar-brand" routerLink="dougnut-chart">Dougnut chart</a></div>
    </td>
  </tr>
  <tr>
    <td class="navbar navbar-dark bg-dark"> 
        <div class="col-mg-2">  <a class="navbar-brand" routerLink="radar-chart">Radar chart</a></div>
    </td>
  </tr>
  <tr>
    <td class="navbar navbar-dark bg-dark"> 
        <div class="col-mg-2">  <a class="navbar-brand" routerLink="pie-chart">Pie chart</a></div>
    </td>
  </tr>
  <tr>
    <td class="navbar navbar-dark bg-dark"> 
        <div class="col-mg-2">  <a class="navbar-brand" routerLink="bubble-chart">Bubble chart</a></div>
    </td>
  </tr>
  
</table>

